* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #072e33;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #05161a;
}

body::-webkit-scrollbar-thumb {
  background-color: #6da5c0;
  height: auto;
  border-radius: 10px;
  border: none;
}
